.odd {
  background-color: rgb(255, 167, 167);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

.medium-font {
  font-size: 24px;
}

#second {
  color: blue;
  font-size: 36px;
}

#fourth {
  background-color: lightgreen;
  font-weight: bold;
}
